.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sub-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: #007AFF;
}

.input-field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.input-sub-container {
  background-color: #7f56d923;
  padding: 50px;
  margin: 10px 200px;
  border-radius: 10px;
}

.input-label-wrap {
  display: flex;
  flex-direction: column;
}

.btn-save {
  background-color: #007AFF;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
}